# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
.pyenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/
.coverage.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# VS Code workspace settings
.vscode/

# macOS system files
.DS_Store

# Machine Learning Model Files
*.h5
*.keras

# Log files
*.log

# Backup files
*.bak
*.swp
*~
